body{
  background-color: #fff;
  margin: 30px 45px;
  font-family: 'Open Sans', verdana, sans-serif;
}

h1{
  background-color: #9bd0e3;
  padding: 1em 1.5em 3em;
}
blockquote code{
  white-space: pre;
}
blockquote.code{
  background-color: #d1edf5;
  margin: 0 10px;
  padding: 20px 40px;
}
p{
  margin: 0 10px 1em;
}